@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$grey:#5F7167;
$green:#37D493;

.main{
	position: absolute;
	top: 20%;
	left: 35%;
	color:#fff;
	background: #5F7167;
	height: 400px;
	width: 400px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

.top{
	position: absolute;
	top: 0;
	left: 0;
	background: #5F7167;
	height: 200px;
	width: 100%;
}

.bottom{
	@extend .top;
	top: 50%;
	background: #37D493;
}

.ellipse{
	position: absolute;
	height: 400px;
	width: 420px;
	top: 0;
	left: -10px;
	z-index: 2;
	transform-style:preserve-3d;
	animation: ellipseanim 5s ease-in-out infinite;
	

	.grey {
        position: absolute;
        width: 420px;
        height: 400px;
        background: $grey;
        backface-visibility: hidden;
        border-radius: 50%;
        z-index: 2;
        transform: rotateX(0deg);
    }
    .green {
        @extend .grey;
        background:$green;
        z-index: 1;
        transform: rotateX(180deg);
    }
}

@keyframes ellipseanim {
    0% {
        transform: rotateX(90deg);
    }
    15% {
        transform: rotateX(150deg);
    }
    20% {
        transform: rotateX(50deg);
    }
    25% {
        transform: rotateX(120deg);
    }
    30% {
        transform: rotateX(70deg);
    }
    35% {
        transform: rotateX(100deg);
    }
    40% {
        transform: rotateX(83deg);
    } 
    45% {
        transform: rotateX(93deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    
    65% {
        transform: rotateX(30deg);
    }
    70% {
        transform: rotateX(130deg);
    }
    75% {
        transform: rotateX(60deg);
    }
    80% {
        transform: rotateX(110deg);
    }
    85% {
        transform: rotateX(80deg);
    }
    90% {
        transform: rotateX(97deg);
    } 
    95% {
        transform: rotateX(87deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}

