@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$x :18px;

.line{
	height: 8px;
	background: #fff;
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.2); 
}

.main{
	position: absolute;
	top: 20%;
	left: 35%;
	color:#fff;
	background: linear-gradient(to top right,#285161,#49cf88);
	height: 400px;
	width: 400px;
	font-family: 'Open Sans', sans-serif;
	.center{
		position: absolute;
		top: 40%;
		left: 38%;
		.menu{
			cursor: pointer;
			height: 100px;
			width: 80px;
			.line1{
				@extend .line;
				animation: rev-animation-line-1 0.7s ease-in-out;
			}
			.line2{
				@extend .line;	
				margin-top: 10px;
				margin-bottom: 10px;
				animation: rev-animation-line-2 0.7s ease-in-out;
			}
			.line3{
				@extend .line;
				animation: rev-animation-line-3 0.7s ease-in-out;
			}

			&.active{
				.line1{
				animation: animation-line-1 0.7s ease-in-out forwards;
			}
			.line2{
				animation: animation-line-2 0.7s ease-in-out forwards;
			}
			.line3{
				animation: animation-line-3 0.7s ease-in-out forwards;
			}
			}
		}
	}	
}

.no-animation{
	animation: none !important;
}

@keyframes animation-line-1{
	0%{
		transform: translate3d(0,0,0) rotate(0deg);  
	}
	50%{
		transform: translate3d(0,$x,0) rotate(0);
	}
	100%{
		transform: translate3d(0,$x,0) rotate(45deg);
	}
}

@keyframes animation-line-2{
	0%{
		transform: scale(1);  
	}
	100%{
		transform: scale(0);
	}
}

@keyframes animation-line-3{
	0%{
		transform: translate3d(0,0,0) rotate(0deg);  
	}
	50%{
		transform: translate3d(0,-$x,0) rotate(0);
	}
	100%{
		transform: translate3d(0,-$x,0) rotate(135deg);
	}
}

@keyframes rev-animation-line-1{
	0%{
		transform: translate3d(0,$x,0) rotate(45deg);  
	}
	50%{
		transform: translate3d(0,$x,0) rotate(0);
	}
	100%{
		transform: translate3d(0,0,0) rotate(0deg);
	}
}

@keyframes rev-animation-line-2{
	0%{
		transform: scale(0);  
	}
	100%{
		transform: scale(1);
	}
}

@keyframes rev-animation-line-3{
	0%{
		transform: translate3d(0,-$x,0) rotate(135deg);  
	}
	50%{
		transform: translate3d(0,-$x,0) rotate(0);
	}
	100%{
		transform: translate3d(0,0,0) rotate(0deg);
	}
}
